<mat-toolbar>
    <mat-toolbar-row>
        <mat-menu #rootMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="subMenu">ログイン</button>
        </mat-menu>
        <mat-menu #subMenu="matMenu">
            <button mat-menu-item (click)="login('facebook')" i18n>Facebook</button>
            <button mat-menu-item (click)="login('twitter')" i18n>Twitter</button>
            <button mat-menu-item (click)="login('google')" i18n>Google+</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="rootMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <span><img class="img-circle" style="width:40px;" [src]="user?.thumbnail"></span>
        <span style="margin-left:10px;" >{{user?.name}}</span>
    </mat-toolbar-row>
</mat-toolbar>

